#btn-capture {
  margin-bottom: 10px;
}

.ng-invalid {
  border-color: #A94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* blank squares */
.orb-0 {fill: #bbb;}

.pathlayer path {
    fill: transparent;
    stroke: rgba(0, 0, 0, 0.8);
    stroke-width: 2px;
}

/* heart icons */
.glyphicon-heart {color: rgb(252, 40, 203);}
.orb-6 {fill: rgb(252, 40, 203);}

/* water icons */
.glyphicon-tint {color: rgb(67, 116, 227);}
.orb-2 {fill: rgb(67, 116, 227);}

/* light icons */
.glyphicon-asterisk{color: rgb(252, 213, 0);}
.orb-4 {fill: rgb(252, 213, 0);}

/* fire icons */
.glyphicon-fire {color: rgb(227, 50, 50);}
.orb-1 {fill: rgb(227, 50, 50);}

/* wood icons */
.glyphicon-leaf {color: rgb(14, 136, 61);}
.orb-3 {fill: rgb(14, 136, 61);}

/* wood icons */
.glyphicon-adjust {color: rgb(99, 33, 129);}
.orb-5 {fill: rgb(99, 33, 129);}

body {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}


.sidebar {
    position: fixed;
    top: 10px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

